<div class="alert alert-dismissible alert-danger" *ngIf="mostrarError">
    <div class="text-center">
        <strong>ERROR AL OBTENER CLIMA</strong>
    </div>
</div>
<div class="container mt-4">
    <div class="row">
        <div class="col-lg-4">
            <img [src]="imageUrl" alt="clima" width="300px" height="300px">
        </div>
        <div class="col-lg-6">
            <input type="text" [(ngModel)]="ciudad" class="form-control size" placeholder="Ingrese ciudad...">
            <button (click)="obtenerClima()" class="btn btn-primary btn-block mt-4 size"
                [disabled]="ciudad == ''">OBTENER CLIMA</button>
            <div class="text-center mt-4" *ngIf="loading">
                <div class="spinner-grow text-primary" role="status"></div>
                <div class="spinner-grow text-primary" role="status"></div>
                <div class="spinner-grow text-primary" role="status"></div>
                <div class="car">
                </div>
            </div>
            <div class="card mt-4" *ngIf="query">
                <div class="card-body">
                    <p><b>Temperatura: </b>{{ temperatura | number: '1.1-2' }}°</p>
                    <p><b>Humedad: </b> {{ humedad }}</p>
                    <p><b>Clima</b> {{ clima }}</p>
                </div>
            </div>
        </div>
    </div>
</div>